.*.swp
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
/ar-lib
/compile
*.pc
.deps/
.dirstamp
.libs/
*.o
*.l[ao]
*~
!/sample/Makefile
